@import url(reset.css);
@import url(fonts/fontello-a3d40ddb/css/fontello.css);

body{
    font-family: Arial, Helvetica, sans-serif;
}

body>section{
    
    width;100%;
    max-width:960px;
    margin: 10px auto;
    border: 1px solid #ccc;
    padding: 5px;
    position: relative;
}

#top-bar{
    background: url(../media/clipper-logo-play-lowres.png) no-repeat;
    background-size: 25%;
    height: 63px;
    width:100%;
}

#social-toolbar{
    margin: 30px 0;
}

/********Components*******************************/

/*general style for all video players*/
video{
    border:1px solid black; 
    width:90%; 
    height:300px; 
    background:#ccc;
 }

/*record button*/
#bigRedBtn{
    border:1px solid black; 
    width:50%; 
    height:30px; 
    background:red;
    padding: 5px;
    text-align: center;
    color:white;
    margin:10px 25%;
    display: inline-block;
 }
 
 #searchBox{
     position: absolute;
     top:45px;
     left: 3%;
     border:1px solid #ccc;
     border-radius:5px;
     padding: 2%;
     background: white;
     width:90%;
     min-height: 500px;
     display: none;
     z-index: 100;
 }
 
 .video-container{
     width:100%;
     height: 400px;
 }
 
 .red{
     background: red;
 }
 
 .player-container{
     padding: 4%;
     border: 1px solid #ccc;
 }
 
 
 .right{
     float:right;
 }
 
 ul>li{
     padding: 4%;
     cursor:pointer;
 }
 
 ul>li a{
     color:black;
     text-decoration: none;
 }
 

